
<div class="container-purchase-request">
    <div>
    <form name="formRegisterRequest" ng-submit="saveForm()">
        <h2>Preencha o formulário abaixo para efetuar um pedido!</h2>
        <br>
        <div class="form-group">
            <label for="exampleInputEmail1">Solicitante *</label>
            <input type="text" name="requester" class="form-control" id="requester" placeholder="Ex: Marino Neto" ng-model="request.requester" required>
        </div>
            <div class="form-group">
            <label for="exampleFormControlTextarea1" >Descrição</label>
            <textarea class="form-control" name="itemDescription" id="itemDescription" ng-model="request.itemDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Valor do Produto *</label>
            <input type="text" name="productValue" class="form-control" id="productValue" placeholder="Insira o valor aqui" ng-model="request.productValue" required>
        </div>
        <button type="submit" class="btn btn-info" onclick="window.location.reload()">Efetuar Solicitação</button>
    </form>
</div>    
    
